*.dSYM/
*.o
*.bin
*.elf
**/bct.h
**/miniloader.h
*.id0
*.id1
*.id2
*.idb
*.nam
*.til

mknvfblob
n7_jb42
nvdecrypt
nvencrypt
nvsign
tf201_ics
tf201_ics_ramdisk/
tf201_jb
tf300_ics
tf700_ics
warmboot-h4x
